body{
    font-family: 'Poppins';
}

a{
    cursor: pointer;
}
h1{
    font-weight: 800;
}
.container {
    margin-bottom: 100px;
}
.navbar {
    margin-top: 26px;
    
}

.nav-item {
    margin-right: 20px;
   }
.carousel-indicators li {
    background: gray;
    width: 30px;
    border-radius: 12px;
}

.carousel-indicators  .active {
    background: #FFCA1C;
    width: 50px;
    border-radius: 12px;
}

.banner{
    background-image: url("images/bg.png");
    width: 100%;
    background-repeat: no-repeat;
   
}
.card-body{
    margin-top: 35px;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.1);
}

.product h3{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 900;
}

.product p{
    color: #A7A7A7;
}

.product img{
    width: 80%;
}

.btn-dark:hover{
    background-color: #FFCA1C;
    border: none;
 
}
.laptop{
    margin-top: 50px;
}

.pale img{
    width: 100%;

}

.bag{
    margin-top: 100px;
}

.img-size img {
    width: 50%;
    margin-top: 25px;
}
.img-size {
    height: 166px;
    width: 201px;
}

.custombar {
    background-image: linear-gradient(to right, #FFD019, #FFAF2A);
    width: 73px;
    height: 10px;
    border-radius: 50px;
    margin: 20px 529px;
}

.client img{
    margin: 35px 0 20px 450px;
}

#contact{
    background-color: #F2F3F8;
    padding: 50px;
    font-family: 'poppins';
    border-radius: 7px;
}
input[type=text]{
    border: none;
    padding: 5px 25px;
    border-radius: 5px;
}
input[type=submit]{
    background-color: #FF9C35;
    border: none;
    border-radius: 7px;
    padding: 5px 15px;
    color: white;
    margin-left: 10px;
}

input[type=submit]:hover{
    background-color: #FFCF1A;
    border: none;
    border-radius: 7px;
    padding: 5px 15px;
    color: white;
    margin-left: 10px;
}
h5{
    font-weight: 800;
    margin-bottom: 50px;
}
.mb-3{
    border: none;
}